<form [formGroup]="transacaoForm" (ngSubmit)="onSubmit()">
    <label for="nome">Nome da Transação:</label>
    <input id="nome" formControlName="nome" required>
  
    <label for="data">Data da Transação:</label>
    <input id="data" type="date" formControlName="data" required>
  
    <label for="tipo">Tipo da Transação:</label>
    <select id="tipo" formControlName="tipo" required>
      <option value="">Selecione</option>
      <option value="despesa">Despesa</option>
      <option value="receita">Receita</option>
    </select>
  
    <label for="categoria">Categoria:</label>
    <input id="categoria" formControlName="categoria" required>
  
    <label for="valor">Valor:</label>
    <input id="valor" type="number" formControlName="valor" required>
  
    <button type="submit" [disabled]="transacaoForm.invalid">Atualizar</button>
  </form>
  