<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Formulário de Transação</title>
  <link
    rel="stylesheet"
    href="/transacao-app/src/app/transacao-form/transacao-form.component.css"
  />
</head>
<body>
  <form [formGroup]="transacaoForm" (ngSubmit)="onSubmit()">
    <h1>Cadastrar Transação</h1>

    <label for="nome">Nome da Transação:</label>
    <input id="nome" formControlName="nome" required />

    <label for="data">Data da Transação:</label>
    <input id="data" type="date" formControlName="data" required />

    <label for="tipo">Tipo da Transação:</label>
    <select id="tipo" formControlName="tipo" required>
      <option value="despesa">Despesa</option>
      <option value="receita">Receita</option>
    </select>

    <label for="categoria">Categoria:</label>
    <input id="categoria" formControlName="categoria" required />

    <label for="valor">Valor: ( Maior que 0 ! )</label>
    <input id="valor" type="number" formControlName="valor" required />

    <button type="submit" [disabled]="transacaoForm.invalid">Cadastrar</button>
    <button type="button" (click)="goHome()">Ir para Lista</button>
  </form>
</body>
