<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Transações</title>
  <link rel="stylesheet" href="/transacao-app/src/app/transacao-list/transacao-list.component.css">
</head>
<body>
  <h2>Lista de Transações</h2>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Data</th>
        <th>Tipo</th>
        <th>Categoria</th>
        <th>Valor</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transacao of transacoes">
        <td>{{ transacao.nome }}</td>
        <td>{{ transacao.data | date }}</td>
        <td>{{ transacao.tipo }}</td>
        <td>{{ transacao.categoria }}</td>
        <td>{{ transacao.valor }}</td>
        <td>
          <button class="edit" (click)="editTransacao(transacao.id!)">Editar</button>
          <button class="delete" (click)="deleteTransacao(transacao.id!)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <br><br>
  <button class="create" (click)="createForm()">Cadastrar Nova Transação</button>
</body>
